.hello:link {
    color: aqua;
}

.hello:hover{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.hello:active{
    color: rgb(42, 155, 165);
}

.hello:visited{
    color: red;
}

/* css tolong carikan a yang ada didalam li yang merupakan anak pertama */
/* li:first-child a{
    color: green;
} */

/* kebalikannya jika menggunakan last-child */
/* li:last-child a{
    color: green;
} */

/* kalo menggunakan nth */
/* disini saya membuat agar mencari anak ke 3 dari li */
/* bisa juga untuk menggunakan kelipatan (2n), (3n+2), (4n+1) */
/* atau ganjil (even) genap (odd) */
li:nth-child(3) a{
    color: green;
}

p:last-of-type{
    color: aquamarine;
}
